<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="employee"
		class="CaseStudy_2.EmployeeTaskSystem.Employee">
		<property name="employeeId" value="51" />
		<property name="employeeName" value="Onkar Kulkarni" />
		<property name="department" value="ENTC" />
		<property name="designation" value="Analyst" />
		<property name="password" value="Pass123" />
		<property name="superior" value="-" />
		<property name="tasklist">
			<list>
				<ref bean="task1" />
				<ref bean="task2" />
				<ref bean="task3" />
			</list>
		</property>

		<property name="AttendanceList">
			<list>
				<ref bean="attendance1" />
				<ref bean="attendance2" />
				<ref bean="attendance3" />
			</list>
		</property>

		<property name="rating" value="EXCELLENT" />
	</bean>

	<bean id="attendance1"
		class="CaseStudy_2.EmployeeTaskSystem.Attendance">
		<constructor-arg type="int" value="101" />
		<constructor-arg type="java.lang.String" value="2022-03-22 05:15:00" />
		<constructor-arg type="Attendence_Types" value="PRESENT" />
	</bean>

	<bean id="attendance2"
		class="CaseStudy_2.EmployeeTaskSystem.Attendance">
		<constructor-arg type="int" value="102" />
		<constructor-arg type="java.lang.String" value="2022-03-22 05:15:00" />
		<constructor-arg type="Attendence_Types" value="ABSENT" />
	</bean>

	<bean id="attendance3"
		class="CaseStudy_2.EmployeeTaskSystem.Attendance">
		<constructor-arg type="int" value="103" />
		<constructor-arg type="java.lang.String" value="2022-03-22 05:15:00" />
		<constructor-arg type="Attendence_Types" value="PRESENT" />
	</bean>

	<bean id="task1" class="CaseStudy_2.EmployeeTaskSystem.Task">
		<constructor-arg type="int" value="501"/>
		<constructor-arg type="java.lang.String" value="SpringAssignment"/>
		<constructor-arg type="java.lang.String"
			value="Has to Complete the 3-Case Studies" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="Employee" ref="employee" />
	</bean>

	<bean id="task2" class="CaseStudy_2.EmployeeTaskSystem.Task">
		<constructor-arg type="int" value="501"/>
		<constructor-arg type="java.lang.String" value="SpringAssignment"/>
		<constructor-arg type="java.lang.String"
			value="Has to Complete the 3-Case Studies" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="Employee" ref="employee" />
	</bean>

	<bean id="task3" class="CaseStudy_2.EmployeeTaskSystem.Task">
		<constructor-arg type="int" value="501"/>
		<constructor-arg type="java.lang.String" value="SpringAssignment"/>
		<constructor-arg type="java.lang.String"
			value="Has to Complete the 3-Case Studies" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="java.lang.String" value="8-3-2022" />
		<constructor-arg type="Employee" ref="employee" />
	</bean>






</beans>